.profile{
    background-color: rgb(228, 228, 228);
    color: rgb(53, 53, 53);
    border: 10px solid rgb(255, 255, 255);
    border-top-left-radius: 10px;
    margin: 0;
    padding-bottom: 15px;
}

.aboutProfile{
    padding: 20px 0 0 20px;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px){
    .aboutProfile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}