.descriptionItem{
    display: flex;
    align-items: center;
}

.descriptionItemItem{
    margin: 0 0 0 20px;
}

@media screen and (max-width: 768px){
    .descriptionItem{
        flex-direction: column;
        align-items: center;
    }
}