@font-face{
    font-family: MulishMediumItalic;
    src: url(./../../../../Fonts/Mulish-MediumItalic.ttf);
    font-family: RalewayMediumItalic;
    src: url(../../../../Fonts/Raleway-MediumItalic.ttf);
}
.description{
    font-family: MulishMediumItalic, RalewayMediumItalic;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts{
    display: flex;
    flex-direction: column;
}

.firstPartfOfDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondPartfOfDescription{
    margin-left: 20px;
}

@media screen and (max-width: 500px){
    .description{
        flex-direction: column; 
    } 
    .secondPartfOfDescription{
        margin-left: 0;
    }
}