@font-face {
  font-family: Mulish;
  src: url(../../Fonts/Mulish-ExtraLightItalic.ttf);
  font-family: Mulish-medium;
  src: url(../../Fonts/Mulish-Medium.ttf);
  font-family: Raleway;
  src: url(../../Fonts/Raleway-ThinItalic.ttf);
}

.inputArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 0;
  padding: 5px 15px;
  background: rgb(157, 63, 245);
  border: 1px solid rgb(157, 63, 245);
  border-radius: 10px;
  height: 20px;
  width: 65px;
  font-size: 12px;
  color: rgb(196, 196, 196);
  font-family: Mulish-medium;
  transition: all 0.3s ease-in;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: black;
  background: rgb(255, 187, 0);
  border: 1px solid rgb(255, 187, 0);
}
