@font-face {
  font-family: Mulish_Medium;
  src: url(../Fonts/Mulish-Medium.ttf);
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(157, 63, 245);
}

.logo {
  width: 30px;
  height: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.logoutButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  color: white;
  font-family: Mulish_Medium;
  font-size: 13px;
  cursor: pointer;
}

.login{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in;
}

.active{
  color: rgb(255, 208, 0);
}

.login:hover {
  color: rgb(255, 208, 0);
}

.user {
  margin-top: 1px;
  border-right: 1px solid white;
  padding-right: 5px;
  height: 100%;
}

.userLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: Mulish_Medium;
  font-size: 13px;
}

.burgerMenu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.authBlock {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  width: 40%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .logo {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
}
