@font-face {
    font-family: Mulish-medium;
    src: url(../Fonts/Mulish-Medium.ttf);
}

.nav{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color: rgb(157, 63, 245);
}

.navText{
    font-size: 15px;
    margin: 10px 10px 0 10px;
    cursor: pointer; 
    font-family: Mulish-medium;   
}
a{
    text-decoration: none;
}
a:active{
    color: white;
}