@font-face {
    font-family: Mulish-medium;
    src: url(../Fonts/Mulish-Medium.ttf);
}

.nav{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color: rgb(157, 63, 245);
    overflow: hidden;
}

.navText{
    font-size: 15px;
    margin: 10px 10px 0 10px;
    cursor: pointer; 
    font-family: Mulish-medium;  
}

.navText a.active{
    color: white;
}

.anotherNavText{
    font-size: 15px;
    margin: 20px 10px 0 10px;
    cursor: pointer; 
    font-family: Mulish-medium;
}

a{
    text-decoration: none;
    color: rgb(68, 68, 68);
    transition: all 0.5s ease-in;
}

a:hover{
    color: white;
}

a:active{
    color: white;
}

@media screen and (max-width: 768px){
    .nav{
        max-height: 0;
    }
}