@font-face {
  font-family: Mulish-medium;
  src: url(../Fonts/Mulish-Medium.ttf);
}

.nav {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  background-color: rgb(157, 63, 245);
  overflow: hidden;
  transition: all 0.3s ease-in;
  min-height: 90vh;
}

.open {
  width: 100px !important;
}

.navItem {
  margin: 10px 10px 0 10px;
}

.anotherNavItem {
  margin: 20px 10px 0 10px;
}

.navText {
  font-size: 15px;
  cursor: pointer;
  font-family: Mulish-medium;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.anotherNavText:hover,
.navText:hover {
  color: rgb(255, 208, 0);
}

.anotherNavText.active {
  color: rgb(255, 208, 0);
}

.active {
  color: rgb(255, 208, 0);
}

.anotherNavText {
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-family: Mulish-medium;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 0;
    height: 100%;
    position: absolute;
  }
}
