@font-face {
    font-family: Mulish-medium;
    src: url(./../../Fonts/Mulish-Medium.ttf);
}

.dialog{
    margin: 15px 0 15px 0;
    transition: all 0.5s ease-in;
    font-family: Mulish-medium;
    font-size: 15px;
    color: rgb(68, 68, 68);
}

.dialogItem:hover{
    font-size: 20px;
    color: rgb(68, 68, 68);
}

.active2{
    font-size: 20px;
}