@font-face {
    font-family: Mulish;
    src: url(./components/Fonts/Mulish-ExtraLightItalic.ttf);
}

.content{
    display: grid;
    grid-template-areas:
    "header header"
    "nav information";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 120px 10fr;
    font-size: 15px;
    font-family: Mulish;
    color: rgb(196, 196, 196);  
    background-color: rgb(157, 63, 245);
}

@media screen and (max-width: 768px){
   .content{
      display: block;
      background-color: initial;
   }
}
