.dialogs{
    margin: 20px 0 0 20px;
    display: grid;
    grid-template-columns: 3fr 3px 7fr;
    min-height: 83vh;
}

.dialogsItem{
    margin: 15px 0 15px 0;
}

.messages{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
}

.textarea{
    margin-top: 20px;
    width: 96%;
    height: 30px;
    padding-left: 10px;
    border: 1.25px solid rgb(157, 63, 245);
    border-radius: 10px;
    font-family: Mulish;
    color: rgb(70, 70, 70);
    transition: all 0.3s ease-in;
}

.textarea:focus{
    border: 1.25px solid rgb(255, 187, 0);
    border-radius: 10px;
    outline: none;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 0 ;
    padding: 5px 15px;
    background: rgb(157, 63, 245);
    border: 1px solid rgb(157, 63, 245);
    border-radius: 10px;
    height: 20px;
    width: 65px;
    font-size: 12px;
    color: rgb(196, 196, 196);
    font-family: Mulish-medium;
    transition: all 0.3s ease-in;
    cursor: pointer;
    outline: none;
}

.button:hover{
    color: black;
    background: rgb(255, 187, 0);
    height: 25px;
    width: 75px;
    border: 1px solid rgb(255, 187, 0);
}    

