.active2{
    color: rgb(255, 93, 93)
}

.dialogs{
    margin: 20px 0 0 20px;
    display: grid;
    grid-template-columns: 3fr 3px 7fr;
}

.dialogsItem{
    margin: 15px 0 15px 0;
}


.messages{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 20px;
}

.line{
    height: 100%;
}

.sexy_line1{ 
    display:block;
    border:none;
    color:white;
    height:50%;
    width: 3px;
    background:black;
    background: radial-gradient(farthest-side at bottom, rgb(157, 63, 245), #f1db3600);
}
.sexy_line2{ 
    display:block;
    border:none;
    color:white;
    height:50%;
    width: 3px;
    background:black;
    background: radial-gradient(farthest-side at top, rgb(157, 63, 245), #f1db3600);
}